<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>

<body>
<div th:insert="fragments/navbar :: navbar"></div>
<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Regiao</th>
        <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemon : ${pokemons}">
        <th scope="row" th:text="${pokemon.id}"></th>
        <td th:text="${pokemon.nome}"></td>
        <td th:text="${pokemon.regiao.nome}"></td>
        <td><a th:href="@{/pokemon/editar/{id}(id=${pokemon.id})}"><i class="fas fa-edit"></i></a><a
                th:href="@{/pokemon/deletar/{id}(id=${pokemon.id})}"><i class="fas fa-eraser"></i></a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/pokemon/cadastrar}">
    <button class="btn btn-primary">Cadastrar Pokemon</button>
</a>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
    </a>
</form>
<div></div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>