<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:if="${param.error}"> Password ou Username Inválidos! </div>
<div th:if="${param.logout}"> Você está desconectado! </div>
<form th:action="@{/login}" method="post">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input id="username" type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>